{{ flashcard.id }} | {{flashcard.category_id}} | {{ getCategoryName(flashcard.category_id) }} | {{ flashcard.question_image }} | {{ flashcard.answer_image }}
| {{flashcard.question_image}} | {{flashcard.answer_image}}
<div class="flip-card" [class.flipped]="isFlipped" (click)="isFlipped = !isFlipped">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h2>{{flashcard.question}}</h2>
        <img [src]="questionImageUrl" alt="Obrazek" />
      </div>
      <div class="flip-card-back">
        <h2>{{flashcard.answer}}</h2>
        <img [src]="answerImageUrl" alt="Obrazek" />
      </div>
    </div>
  </div>
  <button (click)="getFlashcard()">Losuj fiszkę</button>

  <a routerLink="/add-flashcard" class="btn btn-primary">Dodaj fiszkę</a>

