<div class="flip-card" [class.flipped]="isFlipped" (click)="isFlipped = !isFlipped">
  <div class="flip-card-inner">
      <div class="flip-card-front">
        <h2>{{flashcard.question}}</h2>
        <img [src]="questionImageUrl" alt="Obrazek" />
      </div>
      <div class="flip-card-back">
        <h2>{{flashcard.answer}}</h2>
        <img [src]="answerImageUrl" alt="Obrazek" />
      </div>
    </div>
  </div>

<form [formGroup]="flashcardForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="category">Category:</label>
      <select formControlName="category" name="category" class="form-control" [(ngModel)]="flashcard.category_id" [required]="true">
        <option *ngFor="let category of categories; let first = first" [value]="category.id" [selected]="first">{{ category.category }}</option>
      </select>      
    </div>
    <div class="form-group">
      <label for="question">Question:</label>
      <input type="text" name="question" class="form-control" [(ngModel)]="flashcard.question" formControlName="question" required>
    </div>
    <div class="form-group">
      <label for="questionType">Question type:</label>
      <select name="questionType" class="form-control" [(ngModel)]="flashcard.question_type_id"  formControlName="questionType" required>
        <option *ngFor="let questionType of dataFormatTypes" [value]="questionType.id">{{ questionType.data_type }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="questionImage">Question image:</label>
      <input type="file" name="questionImage" id="questionImage" (change)="onQuestionImageSelected($event)">
      <label class="custom-file-upload" for="questionImage">Select file</label>
    </div>
    <div class="form-group">
      <label for="answer">Answer:</label>
      <input type="text" name="answer" class="form-control" [(ngModel)]="flashcard.answer" formControlName="answer" required>
    </div>
    <div class="form-group">
      <label for="answerType">Answer type:</label>
      <select name="answerType" class="form-control" [(ngModel)]="flashcard.answer_type_id" formControlName="answerType" required>
        <option *ngFor="let answerType of dataFormatTypes" [value]="answerType.id">{{ answerType.data_type }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="answerImage">Answer image:</label>
      <input type="file" name="answerImage" id="answerImage" (change)="onAnswerImageSelected($event)">
      <label class="custom-file-upload" for="answerImage">Select file</label>
    </div>
    <button type="submit" class="btn btn-primary">Add Flashcard</button>
  </form>

  <a routerLink="/flip-card" class="btn btn-primary">Wróć</a>
