.flashcard {
  border: 2px dashed black; 
  
  width: 300px;
  height: 185px; 
  padding: 20px;
  border-radius: 10px;
  background-color: lightblue; 
  
}

.flashcard-question{
  height: 60px;
  line-height: 20px;
  font-size: 16px;
  overflow: hidden;
  margin-bottom: 10px;
}

.flashcard-answer{
  height: 60px;
  line-height: 20px;
  font-size: 16px;

  margin-bottom: 10px;
}

.flashcard-button-container{
  height: 46px;

  margin-bottom: 20px;

  display: flex;
  justify-content: space-evenly;
}

.flashcard-button{
  height: 46px;
  width: 75px;
  margin-bottom: 20px;

}